.title {
	text-align:center;
	font-size: 3em;
	line-height: 2em;
}

.meta {
	text-align:right;
	font-size: 0.8em;
	line-height: 1.1em;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

h2 {
	margin-left: 1em;
}

h3 {
	margin-left: 2em;
}

p {
	margin-left: 3em;
}

ul {
	margin-left: 5em;
}

ol {
	margin-left: 5em;
}

dl {
	margin-left: 3em;
}

dt {
	margin-top:	0.3em;
	font-weight: bold;
}


<!-- note -->
div.note {
	border:		1px black solid;
	margin-left: 10em;
	margin-right: 10em;
	padding: 1em;
	font-size: 0.9em;
	line-height: 1.2em;
}

<!-- used to mark TODO items -->
span.todo {
	color:		red;
	font-weight:	bold;
	text-decoration:	underline;
}

<!-- mark pseudo algorithms -->
pre {
	border: 1 solid black;
	font-weight: bold;
	background-color: rgb(230,230,230);
	margin-left:4em;
	margin-right:4em;
	padding: 1em;
	line-height: 1em;
}

div.caption {
	margin-bottom: 2em;
	font-weight: bold;
}

thead {
	background-color: black;
	font-weight: bold;
	color: white;
}

td {
	padding: 0.3em;
}

body {
	line-height: 1.5em;
}

/*
     FILE ARCHIVED ON 00:40:10 Sep 25, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:17:31 Jul 02, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 105.041
  exclusion.robots: 0.129
  exclusion.robots.policy: 0.12
  RedisCDXSource: 10.285
  esindex: 0.009
  LoadShardBlock: 71.131 (3)
  PetaboxLoader3.datanode: 58.955 (4)
  CDXLines.iter: 21.033 (3)
  load_resource: 98.846
  PetaboxLoader3.resolve: 75.613
*/